@charset "UTF-8";
body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: white;
}

div.video {
    position: relative;
    background-color: black;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;


}